<div class="home">
  <div style="display: block;">
    <div class="main_ad">
      <div class="carousel-inner1">
        <div class="item " style="background-image: url(&quot;https://aijuhr.com/upload/Upload1509693608923.png&quot;);">
          <div class="item_text">
            <div class="title">小微变革 因我而美</div>
            <div class="des">成为世界级小微企业应用服务商</div>
            <div class="search-1BHuC hidden-sm hidden-lg" style="">
              <div class="container-28cVH">
                <input type="text" placeholder="搜索职位关键字" class="input-1WRwm">
                <span class="_1SIiK _13ysA button-1UN4f custom-icon-background-color"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="split hidden-sm hidden-lg"></div>
    <div class="s_company hidden-xs">
      <img src="https://aijuhr.com/upload/Upload1509691882995.png" class="c_img" style="">
      <div class="text">杭州爱聚科技有限公司</div>
      <p class="text1">小微变革 因我而美</p>
      <p class="text2">杭州市</p>
      <div class="line"></div>
      <ul class="icon_list clearfix">
        <li>
          <div class="grid-content bg-purple">
            <i class="icon1"></i>
            <span>100-500</span>
          </div>
        </li>
        <li>
          <div class="grid-content bg-purple-light">
            <i class="icon2"></i>
            <span>B轮</span>
          </div>
        </li>
        <li>
          <div class="grid-content bg-purple">
            <i class="icon3"></i>
            <span>计算机软件</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="m_s_company hidden-sm hidden-lg">
      <img src="https://aijuhr.com/upload/Upload1509691882995.png" alt="" class="item-logo">
      <div class="item-desc" style="">
        <h2 class="item-title">杭州爱聚科技有限公司</h2>
        <p class="item-info">
          <span class="item-pos">
            小微变革 因我而美
          </span>
        </p>
        <p class="item-time">
          杭州市 | 计算机软件 | 100-500 | B轮</p>
      </div>
    </div>
    <div class="split hidden-sm hidden-lg"></div>
    <!---->
    <div class="split hidden-sm hidden-lg"></div>
    <div id="1F" class="s_recruit hidden-xs">
      <div class="container">
        <div class="title">
          <div class="text">招聘职位
            <span class="line hidden-xs"></span>
          </div>
        </div>
        <div class="list_content el-row" style="margin-left: -10px; margin-right: -10px;">
          <div class="el-col el-col-8 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-8" *ngFor="let item of list" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid-content bg-purple">
              <div class="content">
                <p class="des">产品类</p>
                <span class="text">在招职位</span>
                <span class="num">1</span>
              </div>
            </div>
          </div>
          <div class="el-col el-col-8 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid-content bg-purple">
              <div class="content">
                <p class="des">技术类</p>
                <span class="text">在招职位</span>
                <span class="num">3</span>
              </div>
            </div>
          </div>
          <div class="el-col el-col-8 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid-content bg-purple">
              <div class="content">
                <p class="des">设计类</p>
                <span class="text">在招职位</span>
                <span class="num">1</span>
              </div>
            </div>
          </div>
          <div class="el-col el-col-8 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid-content bg-purple">
              <div class="content">
                <p class="des">运营类</p>
                <span class="text">在招职位</span>
                <span class="num">3</span>
              </div>
            </div>
          </div>
          <div class="el-col el-col-8 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid-content bg-purple">
              <div class="content">
                <p class="des">客服类</p>
                <span class="text">在招职位</span>
                <span class="num">2</span>
              </div>
            </div>
          </div>
          <div class="el-col el-col-8 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid-content bg-purple">
              <div class="content">
                <p class="des">销售类</p>
                <span class="text">在招职位</span>
                <span class="num">7</span>
              </div>
            </div>
          </div>
          <div class="el-col el-col-8 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid-content bg-purple">
              <div class="content">
                <p class="des">其他</p>
                <span class="text">在招职位</span>
                <span class="num">1</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-list hidden-sm hidden-lg">
      <div class="head" style="">
        <div class="title">招聘职位</div>
        <div class="allR">
          <span>{{getAllRecruit}}</span>
          <span class="icon"></span>
        </div>
      </div>
      <ul>
        <li class="aggregation">
          <div class="column">
            <div class="column1">
              <div class="aggregation-icon"></div>
            </div>
            <div class="column2">
              <div class="primary">产品类</div>
              <div class="summary">
                <span class="custom-text-theme-color">1</span>
                <span>个职位正在招聘</span>
              </div>
            </div>
          </div>
        </li>
        <li class="aggregation">
          <div class="column">
            <div class="column1">
              <div class="aggregation-icon"></div>
            </div>
            <div class="column2">
              <div class="primary">技术类</div>
              <div class="summary">
                <span class="custom-text-theme-color">3</span>
                <span>个职位正在招聘</span>
              </div>
            </div>
          </div>
        </li>
        <li class="aggregation">
          <div class="column">
            <div class="column1">
              <div class="aggregation-icon"></div>
            </div>
            <div class="column2">
              <div class="primary">设计类</div>
              <div class="summary">
                <span class="custom-text-theme-color">1</span>
                <span>个职位正在招聘</span>
              </div>
            </div>
          </div>
        </li>
        <li class="aggregation">
          <div class="column">
            <div class="column1">
              <div class="aggregation-icon"></div>
            </div>
            <div class="column2">
              <div class="primary">运营类</div>
              <div class="summary">
                <span class="custom-text-theme-color">3</span>
                <span>个职位正在招聘</span>
              </div>
            </div>
          </div>
        </li>
        <li class="aggregation">
          <div class="column">
            <div class="column1">
              <div class="aggregation-icon"></div>
            </div>
            <div class="column2">
              <div class="primary">客服类</div>
              <div class="summary">
                <span class="custom-text-theme-color">2</span>
                <span>个职位正在招聘</span>
              </div>
            </div>
          </div>
        </li>
        <li class="aggregation">
          <div class="column">
            <div class="column1">
              <div class="aggregation-icon"></div>
            </div>
            <div class="column2">
              <div class="primary">销售类</div>
              <div class="summary">
                <span class="custom-text-theme-color">7</span>
                <span>个职位正在招聘</span>
              </div>
            </div>
          </div>
        </li>
        <li class="aggregation">
          <div class="column">
            <div class="column1">
              <div class="aggregation-icon"></div>
            </div>
            <div class="column2">
              <div class="primary">其他</div>
              <div class="summary">
                <span class="custom-text-theme-color">1</span>
                <span>个职位正在招聘</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer" style="">
      <footer>
        <a href="https://aijuhr.com">
          <div class="title"></div>
        </a>
      </footer>
    </div>
  </div>
</div>