<div id="s_list" homedata="[object Object]">
  <div class="container">
    <div class="search hidden-xs hidden-sm">
      <div class="detail_des">
        <div class="el-breadcrumb tips">
          <span class="el-breadcrumb__item tips_1">
            <span class="el-breadcrumb__item__inner">招聘首页

            </span>
            <span class="el-breadcrumb__separator">/</span>
          </span>
          <span class="el-breadcrumb__item">
            <span class="el-breadcrumb__item__inner">职位列表</span>
            <span class="el-breadcrumb__separator">/</span>
          </span>
        </div>
      </div>
      <div class="search_go">
        <input placeholder="职位关键词" class="search_content">
        <span class="submit">搜索</span>
      </div>
    </div>
    <div class="list-form hidden-xs">
      <form class="el-form">
        <div class="el-form-item form_address">
          <div class="el-form-item__content" style="margin-left: 80px;">
            <i class="address_icon"></i>
            <span class="el-cascader">
              <div class="el-input">
                <i class="el-input__icon el-icon-caret-bottom"></i>
                <input autocomplete="off" placeholder="全部工作地点" readonly="readonly" type="text" rows="2" class="el-input__inner">
              </div>
              <span class="el-cascader__label"></span>
            </span>
          </div>
        </div>
        <div class="el-form-item form_kind">
          <div class="el-form-item__content" style="margin-left: 80px;">
            <i class="kind_icon"></i>
            <div class="el-select">
              <div class="el-input">
                <i class="el-input__icon el-icon-caret-top"></i>
                <input autocomplete="off" placeholder="请选择职位分类" readonly="readonly" icon="caret-top" type="text" rows="2"
                  class="el-input__inner">
              </div>
              <div class="el-select-dropdown" style="display: none;">
                <div class="el-scrollbar" style="">
                  <div class="el-select-dropdown__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                    <ul class="el-scrollbar__view el-select-dropdown__list" style="position: relative;">
                      <!---->
                      <li class="el-select-dropdown__item">
                        <span>产品类</span>
                      </li>
                      <li class="el-select-dropdown__item">
                        <span>技术类</span>
                      </li>
                      <div class="resize-triggers">
                        <div class="expand-trigger">
                          <div style="width: 1px; height: 1px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                      </div>
                    </ul>
                  </div>
                  <div class="el-scrollbar__bar is-horizontal">
                    <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                  </div>
                  <div class="el-scrollbar__bar is-vertical">
                    <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                  </div>
                </div>
                <!---->
              </div>
              <div class="resize-triggers">
                <div class="expand-trigger">
                  <div style="width: 1px; height: 1px;"></div>
                </div>
                <div class="contract-trigger"></div>
              </div>
            </div>
            <!---->
          </div>
        </div>
        <div class="el-form-item all">
          <!---->
          <div class="el-form-item__content" style="margin-left: 80px;">
            <button type="button" class="el-button hidden-xs el-button--primary">
              <!---->
              <!---->
              <span>查询所有</span>
            </button>
            <!---->
          </div>
        </div>
      </form>
    </div>
    <div class="job-filter hidden-xs hidden-sm hidden-lg">
      <div class="job-filter__row">
        <div class="mobile-text-input job-filter__search-input">
          <div class="mobile-text-input__wrapper text  ">
            <span class="icon icon-search mobile-text-input__icon  "></span>
            <span class="mobile-text-input__label   "></span>
            <input type="search" placeholder="请输入关键字" class="mobile-text-input__input">
          </div>
        </div>
      </div>
    </div>
    <div class="list hidden-xs">
      <div class="list_content">
        <div class="el-row" style="margin-left: -10px; margin-right: -10px;"></div>
        <div class="list_page hidden-xs">
          <div class="el-pagination">
            <button type="button" class="btn-prev disabled">
              <i class="el-icon el-icon-arrow-left"></i>
            </button>
            <ul class="el-pager">
              <li class="number active">1</li>
              <!---->
              <!---->
              <!---->
            </ul>
            <button type="button" class="btn-next disabled">
              <i class="el-icon el-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer hidden-xs">
    <footer>
      <div class="title"></div>
    </footer>
  </div>
  <div class="result hidden-sm hidden-lg">
    <div style="height: 94%; touch-action: auto; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; overflow: hidden;"
      id="vux-scroller-73h53">
      <div class="xs-container" style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);">
        <ul class="job-list__list" style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
          <div class="job-filter hidden-sm hidden-lg ">
            <div class="job-filter__row">
              <div class="mobile-text-input job-filter__search-input">
                <div class="mobile-text-input__wrapper text  ">
                  <span class="icon icon-search mobile-text-input__icon  "></span>
                  <span class="mobile-text-input__label   "></span>
                  <input type="search" placeholder="请输入关键字" class="mobile-text-input__input">
                </div>
              </div>
            </div>
            <div class="job-filter__row">
              <div class="mobile-text-input job-filter__selector">
                <div class="mobile-text-input__wrapper">
                  <span class="icon address_icon mobile-text-input__icon  "></span>
                  <span class="mobile-text-input__label   "></span>
                  <input type="text" placeholder="全部工作地点" onfocus="this.blur()" class="mobile-text-input__input">
                </div>
              </div>
              <div class="mobile-text-input job-filter__selector">
                <div class="mobile-text-input__wrapper">
                  <span class="icon icon-work mobile-text-input__icon  "></span>
                  <span class="mobile-text-input__label   "></span>
                  <input type="text" placeholder="全部职能类型" onfocus="this.blur()" class="mobile-text-input__input">
                </div>
              </div>
            </div>
          </div>
          <div class="contant-list"></div>
          <div class="noTips">
            <div class="imgTips">
              <div class="img"></div>
              <div class="text">未搜索到相关职位</div>
            </div>
          </div>
        </ul>
      </div>
      <div class=" xs-fixed-container"></div>
    </div>
  </div>
  <div class="footer hidden-sm hidden-lg">
    <footer>
      <a href="https://aijuhr.com">
        <div class="title"></div>
      </a>
    </footer>
  </div>
</div>