<div class="jobRecord" homedata="[object Object]">
  <div scroll-bottom-offst="100" class="scorll_list" id="vux-scroller-rixeq" style="height: 667px; touch-action: auto; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; overflow: hidden;">
    <div class="xs-container" style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);">
      <div style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
        <div class="morePosition_content">
          <div class="morePosition moreTop">
            查看更多职位
          </div>
          <div style="height: 20px; width: 100%;"></div>
        </div>
      </div>
      <div class="noTips">
        <div class="imgTips">
          <div class="img"></div>
          <div class="text">
            <p data-v-a41b4bda="">暂无求职纪录</p>
          </div>
        </div>
      </div>
    </div>
    <div class=" xs-fixed-container"></div>
  </div>
</div>