<div data-v-7aad14e0="" id="wx_config">
  <div data-v-7aad14e0="">
    <div scroll-bottom-offst="100" class="scorll_list" id="vux-scroller-7ae69" style="height: 667px; touch-action: auto; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; overflow: hidden;">
      <div class="xs-container" style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);">
        <ul style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);"></ul>
        <div class="none">
          <img src="./assets/img/none.2b226f4.png" alt="暂无数据">
          <p>您还没有推荐的人, 快去推荐吧</p>
        </div>
      </div>
      <div class="xs-fixed-container"></div>
    </div>
  </div>
</div>