<div id="self_introduction">
  <div>
    <div class="weui-cells__title">我们很确信,您拥有独特的个性</div>
    <div class="weui-cells">
      <div class="weui-cell vux-x-textarea">
        <div class="weui-cell__hd">
        </div>
        <div class="weui-cell__bd">
          <textarea autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" placeholder="座右铭: 告诉别人你是不同的" rows="3"
            cols="30" maxlength="1000" class="weui-textarea"></textarea>
          <div class="weui-textarea-counter">
            <span>0</span>/1000
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 15px;">
    <button class="weui-btn weizhaopin_btn weui-btn_primary">完成</button>
  </div>
</div>