<div class="favourite" homedata="[object Object]">
  <div scroll-bottom-offst="100" class="scroll" id="vux-scroller-esoij" style="height: 647px; touch-action: auto; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; overflow: hidden;">
    <div class="xs-container" style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);">
      <div style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
        <div class="noTips">
          <div class="imgTips">
            <div class="img"></div>
            <div class="text">
              <p data-v-e0edfb96="">您还没有收藏职位,快去找找热门职位吧！</p>
            </div>
          </div>
        </div>
        <div class="morePosition_content">
          <div class="morePosition moreTop">
            查看更多职位
          </div>
          <div style="height: 20px; width: 100%;"></div>
        </div>
      </div>
    </div>
    <div class=" xs-fixed-container"></div>
  </div>
</div>