<div class="personal" homedata="[object Object]">
  <div class="personal_top">
    <div class="personal_content">
      <img class="img">
      <div class="name"></div>
      <div class="personal_sign">
      </div>
    </div>
  </div>
  <div class="personal_bottom">
    <div class="container_content">
      <div class="detail_header_item" routerLink="/resumePreview">
        <span class="item_icon_1"></span>
        <span class="text">个人档案</span>
        <span class="personal_icon"></span>
      </div>
      <div class="detail_header_item" routerLink="/jobRecord">
        <span class="item_icon_2"></span>
        <span class="text">求职记录</span>
        <span class="personal_icon"></span>
      </div>
      <div class="detail_header_item" routerLink="/favourite">
        <span class="item_icon_3"></span>
        <span class="text">收藏职位</span>
        <span class="personal_icon"></span>
      </div>
      <div class="detail_header_item detail_no_border" routerLink="/recommendedSchedule">
        <span class="item_icon_4"></span>
        <span class="text">我的推荐</span>
        <span class="personal_icon"></span>
      </div>
    </div>
  </div>
</div>