<div class="hidden-sm hidden-lg">
  <div class="personal_header">
    <img alt="">
    <h2></h2>
    <div class="header_right">
      <p> &nbsp;我的</p>
    </div>
  </div>
  <div id="vux-scroller-s8xm7" style="height: 587px; touch-action: auto; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; overflow: hidden;">
    <div class="xs-container" style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);">
      <div style="transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
        <dl class="position_detail vux-1px-tb" style="">
          <dt>
            <span class="position_name"></span>
            <div class="position_detail_right"></div>
          </dt>
          <dd class="position_detail_money" style="display: none;">
            <span></span>
            <span>全职</span>
            <span>K-K</span>
          </dd>
          <dd class="position_detail_date">
            <span>发布时间 : &nbsp;</span> &nbsp;
            <em>浏览次数 : 0次</em>
          </dd>
        </dl>
        <div class="m_s_company">
          <img src="https://aijuhr.com/upload/Upload1510630813916.png" alt="" class="item-logo">
          <div class="item-desc">
            <h2 class="item-title">上海途顺网络科技有限公司</h2>
            <p class="item-info">
              <span class="item-pos">
                中文租车，玩转世界
              </span>
            </p>
            <p class="item-time">
              上海市 | 生活服务 | B轮 | 100-500</p>
          </div>
        </div>
        <!---->
        <div class="split"></div>
        <div class="pos_detail">
          <h2 class="description vux-1px-tb">
            <span class="pos_des"></span>
            <span class="text">职位描述</span>
          </h2>
          <div class="description_con">
            <p></p>
          </div>
        </div>
        <!---->
        <!---->
        <div class="split"></div>
        <!---->
        <div class="footer_icon">
          <div class="img_detail"></div>
        </div>
        <div style="height: 20px; width: 100%; background: rgb(248, 248, 252);"></div>
      </div>
    </div>
    <div class=" xs-fixed-container"></div>
  </div>
  <div class="share_btn">
    <div>
      <div class="el-row">
        <div class="el-col el-col-8">
          <div class="flex-demo flex-demo3">
            <span class="pos_icon4"></span>
            <span class="text">收藏</span>
          </div>
        </div>
        <div class="el-col el-col-8">
          <div class="flex-demo flex-demo1">
            <span class="pos_icon1"></span>
            <span class="text">我要分享</span>
          </div>
        </div>
        <div class="el-col el-col-8">
          <div class="flex-demo flex-demo2">
            <span class="pos_icon2"></span>
            <span class="text">我要投递</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->
</div>